<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="csdc.bean.Resume">
	<resultMap id="resumeResult" type="Resume">
		<constructor>
			<idArg column="C_ID" javaType="java.lang.String" />
		</constructor>
		<id property="id" column="C_ID" />
		<result property="type" column="C_TYPE" />
		<result property="resumeName" column="C_RESUME_NAME" />
		<result property="name" column="C_NAME" />
		<result property="gender" column="C_GENDER" />
		<result property="birthday" column="C_BIRTHDAY" />
		<result property="mobilephone" column="C_MOBILE_PHONE" />
		<result property="hometown" column="C_HOMETOWN" />
		<result property="idcardType" column="C_IDCARD_TYPE" />
		<result property="idcardNumber" column="C_IDCARD_NUMBER" />
		<result property="photo" column="C_PHOTO" />
		<result property="scholarship" column="C_SCHOLARSHIP" />
		<result property="award" column="C_AWARD" />
		<result property="leaderExperience" column="C_LEADER_EXPERIENCE" />
		<result property="note" column="C_NOTE" />
		<result property="eleresume" column="C_ELERESUME" />
		<result property="production" column="C_PRODUCTION" />
		<result property="otherAttachment" column="C_OTHER_ATTACHMENT" />
		<result property="createDate" column="C_CREATEDATE" />
		<result property="modifyDate" column="C_MODIFYDATE" />
		<result property="isTalent" column="C_IS_TALENT" />
		<result property="eleresumeName" column="C_ELERESUME_NAME" />
		<result property="otherAttachmentName" column="C_OTHER_ATTACHMENT_NAME" />
		<result property="productionName" column="C_PRODUCTION_NAME" />
		<association property="account" column="C_ACCOUNT_ID" javaType="Account" resultMap="accountResult" />
		<collection property="education" ofType="Education" resultMap="educationResult" />
		<collection property="experience" ofType="Experience" resultMap="experienceResult" />
	</resultMap>

	<resultMap id="accountResult" type="Account">
		<id property="id" column="C_ACCOUNT_ID" />
		<result property="email" column="C_EMAIL" />
		<result property="password" column="C_PASSWORD" />
		<result property="accountType" column="C_ACCOUNT_TYPE" />
	</resultMap>

	<resultMap id="educationResult" type="Education">
		<id property="id" column="C_EDU_ID" />
		<result property="education" column="C_EDUCATION" />
		<result property="degree" column="C_DEGREE" />
		<result property="school" column="C_SCHOOL" />
		<result property="stime" column="C_STIME" />
		<result property="etime" column="C_ETIME" />
		<result property="major" column="C_MAJOR" />
		<result property="description" column="C_DESCRIPTION" />
	</resultMap>

	<resultMap id="experienceResult" type="Experience">
		<id property="id" column="C_EXP_ID" />
		<result property="company" column="C_COMPANY" />
		<result property="companyStime" column="C_COMPANY_STIME" />
		<result property="companyEtime" column="C_COMPANY_ETIME" />
		<result property="position" column="C_POSITION" />
		<result property="positionDescription" column="C_POSITION_DESCRIPTION" />
		<result property="project" column="C_PROJECT" />
		<result property="projectStime" column="C_PROJECT_STIME" />
		<result property="projectEtime" column="C_PROJECT_ETIME" />
		<result property="dutyDescription" column="C_DUTY_DESCRIPTION" />
	</resultMap>

	<!-- 创建简历 -->
	<insert id="insert" parameterType="Resume" useGeneratedKeys="true"
		keyProperty="id">
		<selectKey resultType="java.lang.String" keyProperty="id"
			order="BEFORE">
			SELECT seguence.NEXTVAL AS ID FROM DUAL
		</selectKey>
		insert into T_RESUME
		(
		C_ID,
		C_NAME,
		C_GENDER,
		C_BIRTHDAY,
		C_MOBILE_PHONE,
		C_HOMETOWN,
		C_IDCARD_TYPE,
		C_IDCARD_NUMBER,
		C_PHOTO,
		C_SCHOLARSHIP,
		C_AWARD,
		C_LEADER_EXPERIENCE,
		C_NOTE,
		C_ELERESUME,
		C_PRODUCTION,
		C_OTHER_ATTACHMENT,
		C_TYPE,
		C_IS_TALENT,
		C_RESUME_NAME,
		C_ELERESUME_NAME,
		C_OTHER_ATTACHMENT_NAME,
		C_PRODUCTION_NAME,
		C_ACCOUNT_ID,
		C_CREATEDATE
		)
		values
		(
		#{id,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{gender,jdbcType=NUMERIC},
		#{birthday,jdbcType=DATE},
		#{mobilephone,jdbcType=NUMERIC},
		#{hometown,jdbcType=NUMERIC},
		#{idcardType,jdbcType=VARCHAR},
		#{idcardNumber,jdbcType=VARCHAR},
		#{photo,jdbcType=VARCHAR},
		#{scholarship,jdbcType=VARCHAR},
		#{award,jdbcType=VARCHAR},
		#{leaderExperience,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR},
		#{eleresume,jdbcType=VARCHAR},
		#{production,jdbcType=VARCHAR},
		#{otherAttachment,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{isTalent,jdbcType=VARCHAR},
		#{resumeName,jdbcType=VARCHAR},
		#{eleresumeName,jdbcType=VARCHAR},
		#{otherAttachmentName,jdbcType=VARCHAR},
		#{productionName,jdbcType=VARCHAR},
		#{account.id,jdbcType=VARCHAR},
		#{createDate,jdbcType=DATE}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.String" >
		delete  from T_RESUME where C_ID = #{id}
	</delete>
	
	<update id="update" parameterType="java.lang.String">
		update T_RESUME set 
			C_NAME = #{name,jdbcType=VARCHAR},
			C_GENDER = #{gender,jdbcType=NUMERIC},
			C_BIRTHDAY = #{birthday,jdbcType=DATE},
			C_MOBILE_PHONE = #{mobilephone,jdbcType=NUMERIC},
			C_HOMETOWN = #{hometown,jdbcType=NUMERIC},
			C_IDCARD_TYPE = #{idcardType,jdbcType=VARCHAR},
			C_IDCARD_NUMBER = #{idcardNumber,jdbcType=VARCHAR},
			C_PHOTO = #{photo,jdbcType=VARCHAR},
			C_SCHOLARSHIP = #{scholarship,jdbcType=VARCHAR},
			C_AWARD = #{award,jdbcType=VARCHAR},
			C_LEADER_EXPERIENCE = #{leaderExperience,jdbcType=VARCHAR},
			C_NOTE = #{note,jdbcType=VARCHAR},
			C_ELERESUME = #{eleresume,jdbcType=VARCHAR},
			C_PRODUCTION = #{production,jdbcType=VARCHAR},
			C_OTHER_ATTACHMENT = #{otherAttachment,jdbcType=VARCHAR},
			C_TYPE = #{type,jdbcType=VARCHAR},
			C_IS_TALENT = #{isTalent,jdbcType=VARCHAR},
			C_RESUME_NAME = #{resumeName,jdbcType=VARCHAR},
			C_ELERESUME_NAME = #{eleresumeName,jdbcType=VARCHAR},
			C_OTHER_ATTACHMENT_NAME = #{otherAttachmentName,jdbcType=VARCHAR},
			C_PRODUCTION_NAME = #{productionName,jdbcType=VARCHAR},
			C_MODIFYDATE = #{modifyDate,jdbcType=DATE}
			where C_ID = #{id}
	</update>
	
	<select id="load" parameterType="java.lang.String" resultMap="resumeResult">
    	select * from t_resume where c_id = #{id}
    </select>
    
	<!-- 分页查询简历的列表显示 -->
	<!-- 根据条件或者条件为空获取过滤的记录数 -->
	<!-- <select id="getResultNum" resultType="resumeResult" parameterType="java.util.Map"> 
		select count(*) as resultNum from T_RESUME where C_RESUME_NAME||C_CREATEDATE||C_MODIFYDATE 
		like CONCAT(CONCAT('%',#{search}),'%') </select> -->
	<select id="listMyResume" resultMap="resumeResult" parameterType="Account">
		select *
			from T_RESUME,T_ACCOUNT
			<if test="id != null">
				where T_ACCOUNT.C_ID = T_RESUME.C_ACCOUNT_ID and T_RESUME.C_ACCOUNT_ID = #{id,jdbcType=VARCHAR}
			</if>
	</select>
	
	<select id="list" parameterType="map" resultMap="resumeResult">
		select * from T_RESUME
			<if test="accountId != null">
				where T_RESUME.C_ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
			</if>
	</select>
	
	<select id="listTalent" resultMap="resumeResult">
		select * from t_resume where C_IS_TALENT='1'
	</select>
</mapper> 