<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>CookieDemo1</servlet-name>
    <servlet-class>edu.hust.cookie.CookieDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieDemo2</servlet-name>
    <servlet-class>edu.hust.cookie.CookieDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>edu.hust.session.SessionDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo2</servlet-name>
    <servlet-class>edu.hust.session.SessionDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo1_2</servlet-name>
    <servlet-class>edu.hust.session.SessionDemo1_2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>edu.hust.login.ServletLogin</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>CookieDemo1</servlet-name>
    <url-pattern>/CookieDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo2</servlet-name>
    <url-pattern>/CookieDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/SessionDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo2</servlet-name>
    <url-pattern>/SessionDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo1_2</servlet-name>
    <url-pattern>/SessionDemo1_2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
